.update_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.form_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}